name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install client deps
        run: |
          cd client
          npm install
          npm run build

      - name: Install server deps
        run: |
          cd server
          npm install

      - name: Deploy dist folder
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "client/dist/*"
          target: "/var/www/html/"
          overwrite: true
